.container {
    display: flex;
    flex-direction: row;
    justify-items: left;
    justify-content: space-around;
    width: clamp(768px, 80%, 1200px);
    margin: 0 auto;
    padding: 20px;

    .leftInput {
        display: flex;
        flex-direction: column;

        textarea {
            width: 600px;
            border: 1px solid #8ec758;
            background: transparent;
            color: #bcf08c;
            font-size: 1.1rem;

            &::-webkit-resizer {
                border-width: 8px;
                border-style: solid;
                border-color: transparent #bcf08c #bcf08c transparent;
            }
        }

        .buttons {
            margin-top: 10px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            button {
                background-color: mediumaquamarine; 
                border: none; 
                color: midnightblue; 
                padding: 8px 16px; 
                text-align: center; 
                text-decoration: none; 
                display: inline-block; 
                font-size: 16px; 
                margin: 4px 2px; 
                cursor: pointer; 
                
                &:hover { 
                    background-color: rgb(80, 172, 141); 
                } 
            }
        }
    }

    .rightOutput {
        table {
            border: 1px solid #8ec758;
            border-collapse: collapse;

            color: #bcf08c;

            td, th {
                border: 1px solid #8ec758;
                padding: 5px;
            }
        }
    }
}

.usageContainer {
    width: 600px;
    margin: 0 auto;



    &.hidden {
        display: none;
    }
}

code {
    color: #50ac8d;
}
