.backLink {
    background-color: #1e73be;
    min-height: 76px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 17;
    color: white;
}
